/* Reset some default browser styles */
/* Glassmorpohism: https://codepen.io/kanishkkunal/pen/QWGzBwz */
body,
h1,
h2,
h3,
h4,
p {
    margin: 5px;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header {
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    background-color: #170d24;
    background-image:
      radial-gradient(ellipse at 10% 90%, #3c2d83 0%, transparent 55%),
      radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
      radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
      radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
}

.nav-container {
    display: none;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .main {
        padding: 10px;
    }

    .header {
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .topnav {
        display: none; 
        flex-direction: column;
        align-items: center;
    }

    .topnav a {
        display: block;
        width: 90%;
        padding: 10px 10px;
        text-decoration: none;
        color: #333;
        background-color: #eee;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .topnav a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    .nav-container {
        display: block; /* Hide the navigation links container initially on small screens */
    }
}

@media only screen and (min-width: 601px) {
    .menu-toggle {
        display: none; /* Hide the hamburger icon on larger screens */
    }

    .topnav a {
        display: inline-block;
        padding: 24px 32px;
        border: 0;
        text-decoration: none;
        border-radius: 15px;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.1);
        backdrop-filter: blur(30px);
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .nav-container {
        display: block; /* Ensure the navigation links are initially visible on larger screens */
    }
}

.topnav {
    margin-top: 20px;
}

.topnav a {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    border: 0;
    text-decoration: none;
    border-radius: 0px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.topnav a:hover {
    background-color: rgba(255,255,255,0.2);
}

ul,
ol {
    margin: 0px 0px 0px 0px;
    padding-top: 0;
}

.compact-list li {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

li {
    margin: 10px 0px 10px 0px;
}

.notes,
.post,
.feedback-form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback-form form {
    display: grid;
    gap: 10px;
}

.pageStatus {
    text-align:center;
    padding-top: 0;
    margin-bottom: 0;
    color: orangered;
}

label {
    font-weight: bold;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #007bb5;
}

hr {
    border: 1px solid #3498db;
}



