h4 {
    margin: 0px;
    padding: 0px;
}


body {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas:
        "header"
        "menu"
        "about"
        "projects"
        "updates"
        "portfolios"
        "footer";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #5f2f2f;
    background-image:
      radial-gradient(ellipse at 10% 90%, #5645ad 0%, transparent 55%),
      radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
      radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
      radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);
}


.header {
    grid-area: header;
    padding: 150px 0px 150px 0px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-image: url('../bg_image/bg_image.jpg');
    background-size: cover;
    background-position: center;
    */
}

/*<a href="https://www.vecteezy.com/free-vector/website-header">Website Header Vectors by Vecteezy</a> */
.menu {
    grid-area: menu;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.glass {
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
}

.dark {
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(10px);
}

.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }

@media only screen and (min-width: 601px) {
    .menu-toggle {
        display: none; /* Hide the hamburger icon on larger screens */
    }

    .topnav a {
        display: inline-block;
        padding: 10px 10px;
        border: 0;
        text-decoration: none;
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .nav-container {
        display: block; /* Ensure the navigation links are initially visible on larger screens */
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 10px;
    }

    .header {
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .topnav {
        display: none; 
        flex-direction: column;
        align-items: center;
    }

    .topnav a {
        display: block;
        width: 90%;
        padding: 10px 10px;
        text-decoration: none;
        color: #333;
        background-color: #eee;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .topnav a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    .nav-container {
        display: block; /* Hide the navigation links container initially on small screens */
    }
}

.about {
    grid-area: about;
    padding: 150px 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

    .about-me-content {
        max-width: 450px;
        flex: 1;
        padding-right: 20px;
    }

    .about-me-content h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .about-me-content p {
        font-size: 16px;
        line-height: 1.6;
    }

    .about-me-photo {
        width: 200px;
        height: auto;
    }

    .about-me-photo img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

.projects {
    grid-area: projects;
    padding: 150px 50px 150px 50px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    
}

.portfolios {
    grid-area: portfolios;
    padding: 150px 50px 150px 50px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.updates {
    grid-area: updates;
    padding: 150px 50px 150px 50px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.footer {
    grid-area: footer;
    padding: 150px 50px 150px 50px;
    max-width: 600px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
}

.copyright p {
    padding: 0px 20px;
}


.title {
    text-align: center;
}

/* Icons */

.icon {
    padding: 5px;
    height: 200px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px; /* Added margin for spacing between icons */

    flex: 1;
    transition: flex 0.4s ease-in-out;
}

.portfolios .icon {
    height: 100px;
}

.extras .icon {
    height: 20px;
}

.icon.active {
    flex: 5;
}

/* Grid Cotnainers */

.projects .subContainer {
    display: flex;
}

.portfolios .subContainer {
    display: flex;
}

.updates .subContainer {
    display: flex;
}
