body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 10px;
    padding: 10px;
    background-color: #888;
    color: #333;
}

.paper {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    max-width: 800px;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #888;
}

article h2 {
    font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 20px;
}

article p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.quote {
    font-style: italic;
    border-left: 4px solid #ddd;
    margin: 20px 0;
    padding: 10px 20px;
    background: #f9f9f9;
}

.footer {
    text-align: center;
    padding: 50px 0;
    color: #888;
}

.footer a {
    color: #888;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.toc {
    position: fixed;
    right: 0;
    top: 100px;
    width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.toc.open {
    transform: translateX(0);
}

.toc h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin-bottom: 10px;
}

.toc ul li a {
    color: #333;
    text-decoration: none;
}

.toc ul li a:hover {
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: rotate(-90deg) translateX(-31%);
    transform-origin: left center;
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    text-align: center;
}

.toggle-button-code {
    color: gray;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.toc-content {
    padding-left: 15px;
}

.code-block {
    background-color: #f5f5f5;
    border-left: 4px solid #ddd;
    padding: 20px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.code-content {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.code-lines {
    white-space: pre;
}

.figure-container {
    max-width: 600px;
    margin: auto;
    position: relative;
}

.slideshow img {
    width: 100%;
    height: auto;
    display: none;
    cursor: pointer;
}

.slideshow img.active {
    display: block;
}

.figcaption {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen img {
    max-width: 100%;
    max-height: 100%;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}